{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block switch %}
  <a href="{% url 'generic_view' target item %}">Text view</a>
{% endblock %}

{% block content %}
  <div id="d3"></div>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="{% static "css/d3.css" %}" />
  <script src="{% static "js/meetupD3.js" %}"></script>
  <script type='text/javascript'>
    var m = [30, 80, 20, 160], // top right bottom left
    w = 960 - m[1] - m[3], // width
    h = 500 - m[0] - m[2], // height
    x = d3.scale.linear()
    .range([0, w]),
    y = 20, // bar height
    z = d3.scale.ordinal().range(["steelblue", "#ccc"]), // bar color
    duration = 750,
    delay = 25;

    var hierarchy = d3.layout.partition()
    .value(function(d) { return d.{{ value_key }}; })
    .children(function(d) { return d.results; })
    .sort(function(a,b) { return b.d3_value - a.d3_value });

    var xAxis = d3.svg.axis()
    .scale(x)
    .orient("top");

    var svg = d3.select('#d3').append("svg:svg")
    .attr("width", w + m[1] + m[3])
    .attr("height", h + m[0] + m[2])
    .append("svg:g")
    .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

    svg.append("svg:rect")
    .attr("class", "background")
    .attr("width", w)
    .attr("height", h)
    .on("click", me3.up);

    svg.append("svg:g")
    .attr("class", "x axis");

    svg.append("svg:g")
    .attr("class", "y axis")
    .append("svg:line")
    .attr("y1", "100%");

    d3.json("/{{ target }}/{{ item }}.json", function(root) {
    hierarchy.nodes(root);
    x.domain([0, root.value]).nice();
    me3.down(root, 0);
    });
  </script>
{% endblock %}
